AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-south-1
DYNAMODB_TABLE=JIxxxxxO-DC-OCR-PROD-DB
# date = calendar day (2026-04-02). processed_at = day + timestamp
DYNAMODB_FILTER_ATTR=date
DYNAMODB_STATUS_ATTR=status
DYNAMODB_FAILURE_REASON_ATTR=failure_reason
DYNAMODB_CHANNEL_ATTR=channel
